<div class = "root">
  <b-container>
    <b-row >
      <b-col cols = "4" v-for="(value, key, index) in items">
        <b-card :title="value.title"
          :img-src="value.image_src"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2">
          <p class="card-text">
            {{value.tags}}
          </p>
          <b-button href="#" variant="primary">View Description</b-button>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</div>
